* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  width: 600px;
  background: #020F1F;
  padding: 30px;
  margin: auto;
  margin-top: 70px;
  border-radius: 4px;
  font-family: 'calibri';
  color: #4DD0E1;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #4DD0E1;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid ghostwhite;
  font-family: 'calibri';
  font-size: 18px;
  color: black;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: red;
  text-decoration: blink;
}

.form-register a:hover {
  color: salmon;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #4DD0E1;
  border: none;
  padding: 12px;
  color: ghostwhite;
  margin: 16px 0;
  font-size: 20px;
}

img:hover 
{
 box-shadow: 7px 13px 37px #4DD0E1;
}

.form-register:hover {
  width: 600px;
  background: #020F1F;
  padding: 30px;
  margin: auto;
  margin-top: 70px;
  border-radius: 4px;
  font-family: 'calibri';
  color: #4DD0E1;
  box-shadow: 7px 13px 37px #4DD0E1;
}